/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-secondary: #ffffffbf;
  --vt-c-white-grey: #b6b6b6;
  --vt-c-white-light: #e7e7e7;

  --vt-c-red-soft: #e03939;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-secondary: #575757d5;
  --vt-c-black-light: #424242;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-black-mute);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-blue-light-1: #1a77da;
  --vt-c-blue-light-2: #5865f2;
  --vt-c-green-light-1: #00ff9d;

  --vt-c-app-primary: #5865f2;

  --vt-c-backdrop-dark-1: rgba(45, 45, 45, 0.799);
}

/* semantic color variables for this project */
:root {
  --color-background: #f0f2f5;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --section-gap: 160px;

  /* Button */
  --button-background-light: var(--vt-c-blue-light-1);
  --button-background-dark: var(--vt-c-blue-light-2);
  --button-text-light: var(--vt-c-divider-dark-1);
  --buton-text-dark: var(--vt-c-white-soft);
  --button-danger-bg-light: var(--vt-c-red-soft);
  --button-danger-text-light: var(--vt-c-white-soft);

  /* Button */
  --vt-c-button-bg: var(--vt-c-white);
  --vt-c-button-text: var(--vt-c-black-mute);
  --vt-c-button-hover-bg: var(--vt-c-black-mute);
  --vt-c-button-hover-text: var(--vt-c-white);

  /*Text*/
  --vt-c-text-primary: var(--vt-c-black-soft);
  --vt-c-text-error: #ee1c1c;
  --vt-c-text-success: #0fdb89;

  /* Sidebar */
  --vt-c-navbar-bg-color: var(--vt-c-white);
  --vt-c-navbar-text-color: var(--vt-c-black-mute);
  --vt-c-navbar-hover-bg: var(--vt-c-black-soft);
  --vt-c-navbar-hover-text: var(--vt-c-white-soft);

  /*Header*/
  --vt-c-header-bg-color: var(--vt-c-app-primary);
  --vt-c-header-text-color: var(--vt-c-white-soft);
  --vt-c-header-text-shadow: var(--vt-c-black-soft);

  /*Confirm popup*/
  --vt-c-confirm-popup-bg: var(--vt-c-white-mute);
  --vt-c-confirm-popup-text: var(--vt-c-black-mute);

  /*Modal*/
  --vt-c-modal-bg: var(--vt-c-white-mute);
  --vt-c-modal-text: var(--vt-c-black-mute);

  /* Drawer */
  --vt-c-drawer-backdrop: var(--vt-c-backdrop-dark-1);
  --vt-c-drawer-bg: var(--vt-c-white-mute);
  --vt-c-drawer-text: var(--vt-c-black-mute);

  /* List item */
  --vt-c-list-item-bg: var(--vt-c-white-soft);
  --vt-c-list-item-text: var(--vt-c-black-soft);
  --vt-c-list-item-bg-hover: var(--vt-c-divider-dark-1);

  /*Input */
  --vt-c-input-bg: var(--vt-c-white-soft);
  --vt-c-input-text: var(--vt-c-black-soft);
  --vt-c-input-bg-hover: var(--vt-c-divider-dark-1);
  --vt-c-input-text-hover: var(--vt-c-white-soft);

  /*Form */
  --vt-c-form-bg: var(--vt-c-white-secondary);
  --vt-c-form-text: var(--vt-c-black-mute);
  /*Label*/
  --vt-c-label-bg: var(--vt-c-black-soft);
  --vt-c-label-text: var(--vt-c-white);
  /*End form*/

  /*List Messages */
  --vt-c-send-message-bg: #86d97b;
  --vt-c-send-message-text: var(--vt-c-white);
  --vt-c-receive-message-bg: var(--vt-c-black-secondary);
  --vt-c-receive-message-text: var(--vt-c-white-soft);
  --vt-c-message-hover-bg: var(--vt-c-divider-dark-1);
  --vt-c-message-hover-text: var(--vt-c-white);

  /* Shadow box*/
  --vt-c-primary-shadow-box: var(--vt-c-black-soft);

  /* */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */
html.dark-theme {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  /* Button */
  --vt-c-button-bg: var(--vt-c-black-secondary);
  --vt-c-button-text: var(--vt-c-white-mute);
  --vt-c-button-hover-bg: var(--vt-c-white-soft);
  --vt-c-button-hover-text: var(--vt-c-black-soft);

  /*Text*/
  --vt-c-text-error: #ee1c1c;
  --vt-c-text-success: #0fdb89;

  /* Sidebar */
  --vt-c-navbar-bg-color: var(--vt-c-black-soft);
  --vt-c-navbar-text-color: var(--vt-c-white-soft);
  --vt-c-navbar-hover-bg: var(--vt-c-white-soft);
  --vt-c-navbar-hover-text: var(--vt-c-black-soft);

  /*Header*/
  --vt-c-header-bg-color: var(--vt-c-black-light);
  --vt-c-header-text-color: var(--vt-c-white-mute);
  --vt-c-header-text-shadow: var(--vt-c-divider-dark-2);

  /*Confirm popup*/
  --vt-c-confirm-popup-bg: var(--vt-c-black-secondary);
  --vt-c-confirm-popup-text: var(--vt-c-white-soft);

  /*Modal*/
  --vt-c-modal-bg: var(--vt-c-black-secondary);
  --vt-c-modal-text: var(--vt-c-white-soft);

  /* Drawer */
  --vt-c-drawer-backdrop: var(--vt-c-black-secondary);
  --vt-c-drawer-bg: var(--vt-c-black-soft);
  --vt-c-drawer-text: var(--vt-c-white-soft);

  /* List item */
  --vt-c-list-item-bg: #2f2e2e;
  --vt-c-list-item-text: var(--vt-c-white-soft);
  --vt-c-list-item-bg-hover: rgba(84, 84, 84, 0.65);

  /*Input */
  --vt-c-input-bg: var(--vt-c-black-light);
  --vt-c-input-text: var(--vt-c-white-soft);
  --vt-c-input-bg-hover: #565656;
  --vt-c-input-text-hover: var(--vt-c-white-soft);

  /*Form */
  --vt-c-form-bg: var(--vt-c-black-light);
  --vt-c-form-text: var(--vt-c-white-soft);
  /*Label*/
  --vt-c-label-bg: var(--vt-c-black-soft);
  --vt-c-label-text: var(--vt-c-white-soft);
  /*End form*/

  /*List Messages */
  --vt-c-send-message-bg: #86d97b;
  --vt-c-send-message-text: var(--vt-c-white-secondary);
  --vt-c-receive-message-bg: var(--dark);
  --vt-c-receive-message-text: var(--vt-c-white-soft);
  --vt-c-message-hover-bg: var(--vt-c-divider-dark-1);
  --vt-c-message-hover-text: var(--vt-c-white-soft);

  /* Shadow box*/
  --vt-c-primary-shadow-box: var(--vt-c-white-soft);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-weight: bold;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
