button {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border: 0;
  // font-size: 1.4em;
  // margin: 0 5px;
  transition: all 0.2s ease;
  color: var(--vt-c-button-text);
  background-color: var(--vt-c-button-bg);
  &.primary {
    background-color: var(--vt-c-blue-light-1);
    color: var(--vt-c-white-soft);
  }
  &.cancel {
    background-color: var(--button-danger-bg-light);
    color: var(--button-danger-text-light);
  }
  &:hover {
    box-shadow: 0 0 10px 5px var(--vt-c-blue-light-2);
    outline: var(--vt-c-blue-light-2) solid 2px;
    // transform: translateY(-5px);
  }
  &:active {
    transform: translateY(5px);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: rgba(161, 161, 161, 0.7);
  }
}

.click-ani {
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 10px 5px var(--vt-c-blue-light-2);
    outline: var(--vt-c-blue-light-2) solid 2px;
  }
  &:active {
    transform: translateY(5px);
  }
}

.icon {
  color: var(--vt-c-white);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: all 0.3s ease;
  &.circle-xmark {
    color: var(--vt-c-text-error);
  }
  &.circle-check {
    color: var(--vt-c-text-success);
  }
  &.button {
    &:hover {
      box-shadow: 0 0 10px 5px var(--vt-c-blue-light-2);
      // outline: var(--vt-c-blue-light-2) solid 2px;
      // transform: translateY(-5px);
    }
  }
}

.error-message {
  color: var(--vt-c-text-error);
  text-shadow: 2px 2px 5px var(--vt-c-white-soft), -2px -2px 5px var(--vt-c-blue-light-2);
  font-weight: bold;
  text-transform: capitalize;
  padding-inline-start: 1em;
}

input[type="text"],
input[type="date"],
select {
  transition: box-shadow 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: 0;
  padding: 1em;
  background-color: var(--vt-c-input-bg);
  &:focus {
    box-shadow: 0px 0px 10px 5px var(--vt-c-blue-light-2);
  }
}
// Radio button styles
input[type="radio"] {
  &.custom-radio {
    appearance: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
    position: relative;
    border-radius: 50%;
    overflow: visible;
    background-color: var(--vt-c-white-soft);
    &:hover {
      background: #9faab7;
    }
    &:checked {
      background: var(--vt-c-blue-light-2);
      box-shadow: 0px 0px 5px 5px var(--vt-c-blue-light-2);
      &::before {
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        font-family: "Font Awesome 6 Free";
        content: "\f007";
        width: 40px;
        height: 40px;
        display: flex;
        font-weight: bold;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 10;
      }
      &::after {
        -webkit-animation: wave 0.65s;
        -moz-animation: wave 0.65s;
        animation: wave 0.65s;
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--vt-c-blue-light-2);
        position: absolute;
        z-index: 9;
      }
    }
  }
}

@keyframes wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.5;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    opacity: 0;
    margin-left: -80px;
    margin-top: -80px;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  .field-group {
    // color: var(--vt-c-white);
    width: 100%;
    display: flex;
    label {
      padding: 1em;
      width: auto;
      &.field-label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--vt-c-label-text);
        background-color: var(--vt-c-label-bg);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    input[type="text"],
    input[type="date"] {
      width: 100%;
      &.field-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

// Transition Group
.list-enter-active,
.list-leave-active,
.list-move {
  transition: all 0.3s ease;
}
.list-leave-active {
  position: absolute;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

// Default Transition
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: all 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

// Transition Slide up animation
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

// Transitiion slide down animation
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--vt-c-divider-dark-1);
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--vt-c-black-mute);
  border-radius: 10px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
